@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@font-face {
	font-family: rubik;
	font-weight: 400;
	src: url("/fonts/Rubik-Regular.ttf");
	font-display: swap;
}

@font-face {
	font-family: rubik;
	font-weight: 500;
	src: url("/fonts/Rubik-Medium.ttf");
	font-display: swap;
}

@font-face {
	font-family: rubik;
	font-weight: 600;
	src: url("/fonts/Rubik-SemiBold.ttf");
	font-display: swap;
}

@font-face {
	font-family: rubik;
	font-weight: 700;
	src: url("/fonts/Rubik-Bold.ttf");
	font-display: swap;
}

@font-face {
	font-family: source-code-pro;
	font-weight: 500;
	src: url("/fonts/SourceCodePro-Regular.ttf");
	font-display: swap;
}

@theme {
	--color-accent-50: #fff2ec;
	--color-accent-100: #ffe2d3;
	--color-accent-200: #ff360a;
	--color-accent-300: #ff976d;
	--color-accent-400: #ff6032;
	--color-accent-500: #ff360a;
	--color-accent-600: #ff360a;
	--color-accent-700: #cc0c02;
	--color-accent-800: #a10c0b;
	--color-accent-900: #820e0c;
	--color-accent-950: #460406;

	--font-sans: rubik;
	--font-mono: source-code-pro;
}
