---
import MenixAnimatedLogo from "../reusable/MenixAnimatedLogo.astro";
---

<a href="/" class="site-title-link flex items-center gap-5">
	<MenixAnimatedLogo scale={0.08} />
	<h1 class="menix-header">Menix Docs</h1>
</a>

<style>
	a {
		text-decoration: none;
		color: inherit;
	}
</style>
