---
import Gear from "../../assets/menix-gear.svg";

interface Props {
    scale?: number;
}

const { scale = 1 } = Astro.props;
---

<div class="bg">
    <div class="gear">
        <Gear width={660 * scale} height={660 * scale} />
    </div>

    <div class="gear gear2">
        <Gear width={660 * scale} height={660 * scale} />
    </div>

    <div class="boder-container"></div>
</div>

<style define:vars={{ scale }}>
    .bg {
        position: relative;
        width: calc(510px * var(--scale));
        height: calc(510px * var(--scale));
        background: #1b0300;
        z-index: 10;
        overflow: hidden;
    }

    .boder-container {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(510px * var(--scale));
        height: calc(510px * var(--scale));
        background: none;
        border: calc(30px * var(--scale)) solid red;
    }

    .gear {
        position: absolute;
        top: calc(30px * var(--scale));
        left: calc(30px * var(--scale));
        transform: translateX(-50%) translateY(-50%);
        animation: fakt 10s infinite linear;
    }

    .gear2 {
        top: calc(470px * var(--scale));
        left: calc(470px * var(--scale));
        animation: fakt 10s infinite reverse linear;
    }

    @keyframes fakt {
        0% {
            transform: translateX(-50%) translateY(-50%) rotate(-7deg);
        }
        100% {
            transform: translateX(-50%) translateY(-50%) rotate(353deg);
        }
    }
</style>
