---
import Button from "../components/reusable/Button.astro";
import MenixAnimatedLogo from "../components/reusable/MenixAnimatedLogo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout meta={{ default: true, description: "404" }} navbar={false}>
    <section class="flex items-center justify-center min-h-screen">
        <div class="flex flex-col gap-10">
            <div class="flex items-center gap-10">
                <MenixAnimatedLogo scale={0.3} />
                <h1 class="font-bold text-8xl">404</h1>
            </div>
            <hr class="dark:text-zinc-700 text-zinc-300" />
            <div class="self-center">
                <Button href="/"> Home </Button>
            </div>
        </div>
    </section>
</Layout>
