---
import MenixLogo from "../components/reusable/MenixLogo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout meta={{ default: true, description: " - Documentation" }}>
    <h1>Docs</h1>
</Layout>
