---
import Button from "./Button.astro";
import NavLink from "./NavLink.astro";
import GithubLogo from "../assets/github-logo.svg";

const links = [
    { text: "Downloads", href: "/" },
    { text: "Docs", href: "/docs" },
];
---

<ul class="flex gap-5 items-center">
    {
        links.map((link) => (
            <li>
                <NavLink href={link.href}>
                    <span>{link.text}</span>
                </NavLink>
            </li>
        ))
    }

    <li class="flex">
        <NavLink href="https://github.com/menix-os/menix/" newtab={true}>
            <div class="flex items-center gap-3">
                <span class="">Code</span>
                <GithubLogo width={24} height={24} />
            </div>
        </NavLink>
    </li>
</ul>
