---
import NavLink from "./reusable/NavLink.astro";
import GithubLogo from "../assets/icons/github-logo.svg";

const links = [
    { text: "Downloads", href: "https://download.menix-os.org", newtab: true },
    { text: "Docs", href: "/docs" },
    {
        text: "Code",
        href: "https://github.com/menix-os/menix",
        logo: GithubLogo,
        newtab: true,
    },
];
---

<ul class="flex gap-5 items-center">
    {
        links.map((link) => (
            <li class="flex">
                <NavLink newtab={link.newtab} href={link.href}>
                    <div class="flex gap-2 items-center">
                        <span>{link.text}</span>
                        <div class="hidden sm:block">
                            {link.logo && <link.logo width={22} height={22} />}
                        </div>
                    </div>
                </NavLink>
            </li>
        ))
    }
</ul>
