---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/custom-tailwind.css";

interface Props {
	meta: {
		default: boolean;
		description?: string;
	};
}

const { meta } = Astro.props;

const description =
	(meta.default ? "The Menix Operating System" : "") + meta.description;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>Menix operating system</title>
	</head>
	<body
		class="dark:bg-zinc-950 bg-zinc-50 text-gray-900 dark:text-gray-50 font-rubik"
	>
		<div class="min-h-screen flex flex-col">
			<Navbar />
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		width: 100%;
		height: 100%;
	}
</style>
