name: ci
on:
    pull_request:
        types: [opened, synchronize]
jobs:
    format-check:
        runs-on: ubuntu-latest
        steps:
            - name: checkout files
              uses: actions/checkout@v4

            - name: install dependencies
              run: npm i

            - name: run format check
              run: npm run format:check

    build:
        runs-on: ubuntu-latest
        steps:
            - name: checkout files
              uses: actions/checkout@v4

            - name: install dependencies
              run: npm i

            - name: build
              run: npm run build
